.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    
    


}

.grid div{
    text-transform: uppercase;
    font-size: 30px;
    text-align:center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.box1, .box2, .box4, .box5, .box7, .box8, .box9, .box10{
    background-color: red;
}

.box3{
    background-color:cyan;
}

.box6{
    background-color: yellow;
}

@media(min-width: 600px){
    .grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(5,150px);
    
    }
}

@media(min-width: 950px){
    .grid{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows:repeat(3,200px);
       
        }
        .box3{
            grid-column: 3/ 4;
            grid-row: 1/4;
        }

        .box6{
            grid-column: 4/ 6;
            grid-row: 2/4; 
        }
}
